obj
bin
build
packages
PublishProfiles
TestResults
_ReSharper.*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.swp
*.dotCover
*.vcxproj.user
*.sdf
*.opensdf
*.dbmdl
*.DotSettings.user
OADSI.exe.config
*.ncrunchsolution
*.ncrunchproject
*.ncrunchsolution.user
*.sqlproj.user
*.orig
*.nupkg
